body{
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: relative;
    width: 100%;
    background: green;
    padding: 10px 0px;
    z-index: 999;
}
nav ul {
    top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
 nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color o.3s;
 }

 nav ul li a:hover {
    color: #facc15;
 }
 .btn{
    background-color: aliceblue;
    color: green;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    align-items: end;
 }
 .btn:hover{
    background-color: rgb(243, 248, 243);
    color: rgb(5, 186, 44);
    cursor: pointer;
 }
 .btn:active{
    background-color: rgb(243, 248, 243);
    color: rgb(5, 186, 44);
    transform: translateY(4px);
 }
 .headin{
    top: 100px;
      text-align: center;
      font-size: 2rem;
      font-weight: 200;
      display: flex;
 }
 .headin .img{
    width: 600px;
    height: 500px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(243, 248, 243) ;
 }
 #one{
    background-color: rgb(243, 248, 243);
    color: rgb(8, 8, 8);
    padding: 40px;
 }
 #one h1{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 #one p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
 }
se
 